In [ ]:
from typing import List, Union, Generator, Iterator
import os 
from pydantic import BaseModel
from langchain_core.prompts import ChatPromptTemplate
from langchain_ollama.llms import OllamaLLM
from langchain_community.utilities import SQLDatabase
import os

from zmq import proxy 
 
# os.system("unset http_proxy") 
# os.system("echo $http_proxy") 
# os.system("unset https_proxy") 
# os.system("echo $https_proxy") 

os.environ["http_proxy"]=""
os.environ["https_proxy"]=""
os.system("echo $http_proxy") 
os.system("echo $https_proxy") 

text_to_sql_prompt = """
        ### 指令：你的任务是根据Postgres数据库模式，将一个问题转换为SQL查询。 遵循以下规则：
		- **逐字逐句地分析问题和数据库模式，以准确回答问题
		- **使用表别名以防止歧义。例如：SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id
		- **创建比率时，始终将分子转换为浮点数
		### 输入：生成一个SQL查询，以回答问题 {question}。 
			此查询将在一个数据库上运行，该数据库的模式由以下字符串表示：
			CREATE TABLE public.stat_top500_by_area (
				area_code varchar(255) NOT NULL, -- 地区代码
				year_num varchar(255) NOT NULL, -- 年度
				area_name varchar(255) NULL, -- 地区名称
				entities_num int4 NULL, -- 企业数
				average_revenue numeric(6, 2) NULL, -- 营业收入
				CONSTRAINT stat_top500_by_area_pkey PRIMARY KEY (area_code, year_num)
			);

		### 输出：根据你的要求，以下是用于回答问题 {question} 的SQL查询：
		```sql 
        """

prompt = ChatPromptTemplate.from_template(text_to_sql_prompt)
model = OllamaLLM(model="sqlcoder:15b",base_url="http://172.24.18.51:11434")
	
chain = prompt | model
response=chain.invoke({"question": "按地区名称计算企业数的占比"})
print(response)
#sql_query = response

In [19]:
from langchain.agents import create_spark_sql_agent
from langchain.agents.agent_toolkits import SparkSQLToolkit
from langchain.chat_models import ChatOpenAI
from langchain.utilities.spark_sql import SparkSQL
from pyspark.sql import SparkSession

#SparkSession.Builder().master("local[*]").getOrCreate().stop()
spark = SparkSession \
  .Builder() \
  .remote("sc://localhost:15002") \
  .getOrCreate()
spark_sql = SparkSQL(spark_session=spark,schema="manufacture")
tablenames=spark_sql._get_all_table_names()
print(tablenames)

#spark.sql("SELECT count(*) as cnt FROM manufacture.business_entity").show()

['business_entity']

In [20]:
from langchain_community.agent_toolkits.spark_sql.base import create_spark_sql_agent
from langchain_community.agent_toolkits.spark_sql.toolkit import SparkSQLToolkit
from langchain_community.utilities.spark_sql import SparkSQL
from langchain_ollama.llms import OllamaLLM

llm = OllamaLLM(model="qwen2.5-coder-32b-instruct-q4_k_m:latest",base_url="http://172.24.18.51:11434",temperature=0)
schema = "manumanufacture"
spark = SparkSession \
  .Builder() \
  .remote("sc://localhost:15002") \
  .getOrCreate()
spark_sql = SparkSQL(spark_session=spark,schema="manufacture")
toolkit = SparkSQLToolkit(db=spark_sql, llm=llm)
agent_executor = create_spark_sql_agent(llm=llm, toolkit=toolkit, verbose=True)
#agent_executor.run("Describe the business_entity table")
response=agent_executor.invoke({"input": "请列出企业主体数最多的5个城市和数量"})
print(response)

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input: ""
Observation: business_entity
Thought:I need to check the schema of the `business_entity` table to understand its structure and identify the relevant columns for counting the number of business entities per city.

Action: schema_sql_db
Action Input: "business_entity"
Observation: CREATE TABLE demo.manufacture.business_entity (
  id STRING,
  name STRING,
  code STRING,
  industry_code STRING,
  business_scope STRING,
  scale_type STRING,
  entity_type STRING,
  city_name STRING,
  area_code STRING,
  admin_code STRING,
  county_name STRING,
  address STRING,
  postal_code STRING,
  latitude DOUBLE,
  longitude DOUBLE,
  contact_name STRING,
  contact_phone STRING,
  contact_email STRING,
  status STRING,
  description STRING)
;

/*
3 rows from business_entity table:
id	name	code	industry_code	business_scope	scale_type	entity_type	city_name	area_code	admin_code	county_name	address	postal_code	latitude	longitude	contact_name	contact_phone	contact_email	status	description
00006036-7533-4c88-9c53-3f143883135d	佛山市美禾机械有限公司	91440605MA4ULBMU18	3421	None	5	1	佛山市	E	440600	南海区	佛山市南海区丹灶镇云溪社区新农心溪村凤咀岗1号地块厂房之二	None	0.0	0.0	None	18988638269	None	1	None
000074f9-cb6d-4eba-bd01-5558dcf70707	佛山市优成家具有限公司	91440606MA52LNHY18	2190	None	5	1	佛山市	E	440600	顺德区	佛山市顺德区龙江镇龙江社区居民委员会北华路高滘路段3号之一B座五、六楼	None	0.0	0.0	None	18924897824	None	1	None
0000cb91-aa96-4acf-a54e-d4501d81b9b0	佛山市顺田丰景酒店家居制品有限公司	91440605MA4WDFC440	2041	None	5	1	佛山市	E	440600	南海区	佛山市南海区里水镇和顺逢涌文头岭东侧土名“瓦糠边”自编2号（住所申报）	None	0.0	0.0	None	17876912708	None	1	None
*/
Thought:The `business_entity` table contains the column `city_name`, which I can use to count the number of business entities per city. I will write a query to group by `city_name`, count the number of entries for each city, and then order the results in descending order to get the top 5 cities with the most business entities.

Action: query_checker_sql_db
Action Input: "SELECT city_name, COUNT(*) as entity_count FROM business_entity GROUP BY city_name ORDER BY entity_count DESC LIMIT 5"
Observation: The provided Spark SQL query does not contain any of the common mistakes listed:

- It does not use `NOT IN` with `NULL` values.
- It does not use `UNION` when `UNION ALL` should have been used.
- It does not use `BETWEEN` for exclusive ranges.
- There is no data type mismatch in predicates.
- Identifiers are properly quoted (though not necessary in this case since they do not contain special characters or reserved words).
- The correct number of arguments is used for functions.
- No casting to a different data type is required here.
- No joins are involved, so there is no issue with using the proper columns for joins.

Therefore, the original query is correct:

```sql
SELECT city_name, COUNT(*) as entity_count
FROM business_entity
GROUP BY city_name
ORDER BY entity_count DESC
LIMIT 5
```
Thought:The query has been verified to be correct. I will now execute it to get the results.

Action: query_sql_db
Action Input: "SELECT city_name, COUNT(*) as entity_count FROM business_entity GROUP BY city_name ORDER BY entity_count DESC LIMIT 5"
Observation: [('东莞市', '199511'), ('深圳市', '152774'), ('广州市', '102961'), ('佛山市', '92974'), ('中山市', '72204')]
Thought:I now know the final answer.

Final Answer: The top 5 cities with the most business entities are:
1. 深圳市 (Shenzhen) - 152,774 entities
2. 东莞市 (Dongguan) - 199,511 entities
3. 广州市 (Guangzhou) - 102,961 entities
4. 佛山市 (Foshan) - 92,974 entities
5. 中山市 (Zhongshan) - 72,204 entities

> Finished chain.
{'input': '请列出企业主体数最多的5个城市和数量', 'output': 'The top 5 cities with the most business entities are:\n1. 深圳市 (Shenzhen) - 152,774 entities\n2. 东莞市 (Dongguan) - 199,511 entities\n3. 广州市 (Guangzhou) - 102,961 entities\n4. 佛山市 (Foshan) - 92,974 entities\n5. 中山市 (Zhongshan) - 72,204 entities'}

In [ ]:
from langchain_community.utilities import SQLDatabase
from langchain_ollama.llms import OllamaLLM
from langchain.chains.sql_database.query import create_sql_query_chain
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

os.environ["http_proxy"]=""
os.environ["https_proxy"]=""

db = SQLDatabase.from_uri(f"postgresql+psycopg2://ai_user:Qdnkljc_2021@localhost:5432/report_db")
# print(db.dialect)
# print(db.get_usable_table_names())
# db.run("SELECT * FROM stat_top500_by_area LIMIT 10;")
llm = OllamaLLM(model="gemma3:latest",base_url="http://172.24.18.51:11434",temperature=0)
# chain = create_sql_query_chain(llm, db)
# response = chain.invoke({"question": "广州市企业数占比"})
# execute_query = QuerySQLDataBaseTool(db=db)

answer_prompt = PromptTemplate(
    input_variables=["dialect", "input", "table_info", "top_k"],
    template="""You are a SQL expert using {dialect}.
Given the following table schema:
{table_info}
Generate a syntactically correct SQL query to answer the question: "{input}".
Limit the results to at most {top_k} rows.
Return only the SQL query without any additional commentary or Markdown formatting.
"""
)

chain = create_sql_query_chain(llm=llm, db=db,prompt=answer_prompt)

input_data = {
    "dialect": db.dialect,                    # 数据库方言，如 "sqlite"
    "table_info": db.get_table_info(["t_business_entity"]),          # 表结构信息
    "question": "请列出企业主体数最多的5个城市和数量",
    "top_k": 1
}

write_query_response = chain.invoke(input_data)
print(write_query_response)
write_query=str(write_query_response).replace("```sql","").replace("```","")
print(write_query)
#执行SQL语句
execute_query = QuerySQLDataBaseTool(db=db)
execute_response = execute_query.invoke(write_query)
print('\n execute_response result：',execute_response)

In [ ]:
from dremio_simple_query.connect import DremioConnection
import os

# Get Dremio credentials
TOKEN = os.getenv("DREMIO_TOKEN")
ARROW_ENDPOINT = "grpc://119.29.213.41:32010"

# Establish connection
dremio = DremioConnection(TOKEN, ARROW_ENDPOINT)

# Test query
df = dremio.toPandas("SELECT * FROM my_iceberg_table LIMIT 5;")
print(df)

In [ ]:
from huggingface_hub import hf_hub_download
hf_hub_download(repo_id="stabilityai/stable-diffusion-2-1", filename="v2-1_768-nonema-pruned.safetensors", local_dir="/data/comfyui/ComfyUI/models/checkpoints")